body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background-color: black;
    color: white;
    overflow: hidden;
}
.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}
.sidebar{
    background-color:black;
    width: 25rem;
    border-radius: 1rem; /*16px*/
    margin-right: 0.5rem;
}
.main_content{
    /* background-color: #121212; */
    background: linear-gradient(180deg,#322f2f,#000000);
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem;
}
.main_content .Music:hover{
    text-decoration: underline;
    cursor: pointer;
}
.main_content .show-musics
{
    display: flex;
    justify-content: space-between;
    margin-right: 8rem;
}
.show-musics .show-all:hover{
    text-decoration: underline;
}
.music_player{
    background-color: rgb(0, 0, 0);
    position: fixed;
    width: 100%;
    /* height: 72px; */
    bottom: 0;
    padding: 1rem 0;
}
a{
    text-decoration: none;
    color: white;
}

.nav{
    height: 100px;
    padding: 0.5rem 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #121212;
    border-radius: 1rem ;
}
.nav-option{
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}
.nav-option:hover{
    opacity: 1;
}
.nav-option i{
    font-size: 1.25rem;
}
.nav-option a{
    font-size: 1rem;
    margin-left: 1rem;
}

/* libary */

.libary{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
}
.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lib-option img{
    height: 1.25rem;
    width: 1.25rem;
}
.option .icons{
    font-size: 1.25rem;
    display: flex;
}
.icons i{
    opacity: 0.7;
    margin-left: 1rem;
}
.icons i:hover{
    opacity: 1;
}
.box{
    height: 8rem;
    background-color: #232323;
    border-radius: 0.75rem;
    margin: 0.5rem 0 1.75rem 0;
    padding: 0.75rem 1rem;
}
.box-p1{
    font-size: 1rem;
    font-weight: 600;
}
.box-p2{
    font-size: 0.85rem;
    opacity: 0.9;
}
.badge{
    background-color: white;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
    cursor: pointer;
}
.badge:hover{
    transform: scale(1.05); /* Scale up on hover */
}

/* maincontent */
.dark-badge{
    background-color: black;
    color: white;
}
.stiky-nav{
    /* position: sticky; */
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 1;
}
.all-music-podcast{
    display: flex;
}
.main-nav{
    position: sticky;
    top: 0;
    background-color: #2a2828;
    z-index: 1;
    height: 14%;
}
.all-music-podcast .Top{
    margin-right: 1rem;
    background-color: #4a4747;
    border-radius: 100px;
    padding: 0.5rem;
    font-size: 0.95rem;
    transition: all 0.2s ease;
}
.Top:hover{
    background-color: #555454;
    cursor: pointer;
}
.cards{
    margin-top: 1rem;
}

.stiky-nav-icons img {
    margin-left: 0.75rem;
}
.stiky-nav-options {
    display: flex;
    justify-content: center;
    align-items: center;
}
.stiky-nav-options .nav-item{
    margin-right: 1rem;
}

@media (max-width: 1023px)
{
    .hide{
        display: none;
    }
}

.card{
    /* background-color: #232323; */
    width: 150px;
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
    transition: all 0.3s ease;
}
.card:hover{
    background-color: #282525;
}
.card .card-image{
    width: 100%;
    border-radius: 0.5rem;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
}
.card .card-title{
    font-weight: 600;
}
.card-info{
    font-size: 0.85rem;
    opacity: 0.7;
}
.footer{
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.music_player{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.album{
    width: 25%;
    background-color: pink;
}
.player{
    width: 50%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.controls{
    width: 25%;
    background-color: green;
}
.player-controls{
    display: flex;
    justify-content: center;
    align-items: center
}
.player-controls-icons{
    height: 1rem;
    margin-right: 1.75rem;
    opacity: 0.7;
}
.player-controls-icons:hover{
    opacity: 1;
}
.playback-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-bar{
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}
.scale:hover{
    transform: scale(1.1);
}
.progress-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}
.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -6px;
}
.main_content{
    padding: 0;
}
.cards{
    padding: 0 1.5rem;
}
.main-nav{
    padding: 0 1.5rem;
}
.footer{
    height: 30%;
    width: 100%;
}
.footer{
    display: flex;
    justify-content: space-between;
}
.footer .right{
display: flex;
flex-wrap: wrap;
}
 ul {
    list-style: none; /* Remove default list-style */
}
 li{
    margin-top: 5px;
    opacity: 0.5;
}
 li:hover{
    text-decoration: underline;
    cursor: pointer;
    opacity: 1;
}
.left {
    display: flex;
    gap: 1vw;
    margin-right: 1.75rem;
}
.left i{
    background-color:#2d2d2d;
    padding: 0.7rem;
    border-radius: 100px;
}
.left i:hover{
    background-color: #5b5959;
}
.line{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    height: 10%;
    border-top: 1px solid white;
    opacity: 0.4;
    margin-left: 2rem;
    opacity: 0.1;
    padding: 1rem;
}
.end{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}
.policy{
    display: flex;
    flex-wrap: wrap;
}
.policy ul {
    display: flex;
    padding: 0;
    margin: 0;
    margin-left: 2rem;
}
.policy li{
    margin-right: 0.75rem;
}
.copyright{
    margin-right: 1.75rem;
    opacity: 0.5;
}
.line-footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 30%;
    width: 100%;
}
.wrap{
    display: flex;
    flex-wrap: wrap;
    height: 50%;
    width: 100%;
}
@media only screen and (max-width: 768px) {

    .sidebar{
        display: none;
    }
    .wrap{
        height: 45rem;
    }
    .end{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .main-nav{
        height: 18%;
    }
    .footer .left{
        margin-left: 1.75em;

    }
    .line{
        margin-top: 1.75rem;
    }
   .playback-bar{
    margin-right: 2rem;
   }
}